<app-pageheader (menuclicked)="sideNav.toggle()"></app-pageheader>
<!-- <mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav opened class="mat-elevation-z6" >
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #sideNav opened class="mat-elevation-z6">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <!-- <app-side-nav>
      <router-outlet></router-outlet>

    </app-side-nav> -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>


    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-pagefooter></app-pagefooter>
